/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: 'Rubik Mono One', sans-serif;
    scroll-behavior: smooth;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section {
    position: relative;
    text-align: center;
    height: 100vh;
}

.text {
    color: yellow;
    font-size: 3em;
}

.text2 {
    color: green;
    font-size: 3em;
}

/* HEADER */
nav ul {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 999;
    list-style: none;
}

nav li {
    display: inline-block;
}

li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: white;
    width: 3em;
    height: 3em;
    margin: 1em;
    border-radius: 50%;
    text-align: center;
    line-height: 3em;
}

a:hover {
    color: yellow;
}

/* SEZIONI */
/* sezione 1 */
#sez1 {
    background-color: red;
}

/* sezione 2 */
#sez2 {
    background-color: green;
}

/* sezione 3 */
#sez3 {
    background-color: yellow;
}